@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

html,body {
  height: 100%;
}
body {
  background: black;
  font-family: 'Chilanka', sans-serif;
}
.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.glitch {
  color: white;
  font-size: 45px;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(136px, 9999px, 50px, 0);
  }
  4.166666666666666% {
    clip: rect(114px, 9999px, 28px, 0);
  }
  8.333333333333332% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  12.5% {
    clip: rect(136px, 9999px, 119px, 0);
  }
  16.666666666666664% {
    clip: rect(92px, 9999px, 116px, 0);
  }
  20.833333333333336% {
    clip: rect(22px, 9999px, 147px, 0);
  }
  25% {
    clip: rect(86px, 9999px, 55px, 0);
  }
  29.166666666666668% {
    clip: rect(7px, 9999px, 97px, 0);
  }
  33.33333333333333% {
    clip: rect(150px, 9999px, 44px, 0);
  }
  37.5% {
    clip: rect(29px, 9999px, 49px, 0);
  }
  41.66666666666667% {
    clip: rect(84px, 9999px, 68px, 0);
  }
  45.83333333333333% {
    clip: rect(13px, 9999px, 5px, 0);
  }
  50% {
    clip: rect(0px, 9999px, 12px, 0);
  }
  54.166666666666664% {
    clip: rect(29px, 9999px, 79px, 0);
  }
  58.333333333333336% {
    clip: rect(127px, 9999px, 55px, 0);
  }
  62.5% {
    clip: rect(110px, 9999px, 33px, 0);
  }
  66.66666666666666% {
    clip: rect(112px, 9999px, 49px, 0);
  }
  70.83333333333334% {
    clip: rect(146px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(54px, 9999px, 42px, 0);
  }
  79.16666666666666% {
    clip: rect(46px, 9999px, 4px, 0);
  }
  83.33333333333334% {
    clip: rect(101px, 9999px, 72px, 0);
  }
  87.5% {
    clip: rect(90px, 9999px, 32px, 0);
  }
  91.66666666666666% {
    clip: rect(114px, 9999px, 8px, 0);
  }
  95.83333333333334% {
    clip: rect(75px, 9999px, 71px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 135px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(136px, 9999px, 50px, 0);
  }
  4.166666666666666% {
    clip: rect(114px, 9999px, 28px, 0);
  }
  8.333333333333332% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  12.5% {
    clip: rect(136px, 9999px, 119px, 0);
  }
  16.666666666666664% {
    clip: rect(92px, 9999px, 116px, 0);
  }
  20.833333333333336% {
    clip: rect(22px, 9999px, 147px, 0);
  }
  25% {
    clip: rect(86px, 9999px, 55px, 0);
  }
  29.166666666666668% {
    clip: rect(7px, 9999px, 97px, 0);
  }
  33.33333333333333% {
    clip: rect(150px, 9999px, 44px, 0);
  }
  37.5% {
    clip: rect(29px, 9999px, 49px, 0);
  }
  41.66666666666667% {
    clip: rect(84px, 9999px, 68px, 0);
  }
  45.83333333333333% {
    clip: rect(13px, 9999px, 5px, 0);
  }
  50% {
    clip: rect(0px, 9999px, 12px, 0);
  }
  54.166666666666664% {
    clip: rect(29px, 9999px, 79px, 0);
  }
  58.333333333333336% {
    clip: rect(127px, 9999px, 55px, 0);
  }
  62.5% {
    clip: rect(110px, 9999px, 33px, 0);
  }
  66.66666666666666% {
    clip: rect(112px, 9999px, 49px, 0);
  }
  70.83333333333334% {
    clip: rect(146px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(54px, 9999px, 42px, 0);
  }
  79.16666666666666% {
    clip: rect(46px, 9999px, 4px, 0);
  }
  83.33333333333334% {
    clip: rect(101px, 9999px, 72px, 0);
  }
  87.5% {
    clip: rect(90px, 9999px, 32px, 0);
  }
  91.66666666666666% {
    clip: rect(114px, 9999px, 8px, 0);
  }
  95.83333333333334% {
    clip: rect(75px, 9999px, 71px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 135px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(118px, 9999px, 37px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 8px, 0);
  }
  13.333333333333334% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  16.666666666666664% {
    clip: rect(142px, 9999px, 74px, 0);
  }
  20% {
    clip: rect(12px, 9999px, 143px, 0);
  }
  23.333333333333332% {
    clip: rect(93px, 9999px, 8px, 0);
  }
  26.666666666666668% {
    clip: rect(22px, 9999px, 26px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 109px, 0);
  }
  33.33333333333333% {
    clip: rect(1px, 9999px, 87px, 0);
  }
  36.666666666666664% {
    clip: rect(27px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 147px, 0);
  }
  43.333333333333336% {
    clip: rect(107px, 9999px, 93px, 0);
  }
  46.666666666666664% {
    clip: rect(130px, 9999px, 123px, 0);
  }
  50% {
    clip: rect(108px, 9999px, 113px, 0);
  }
  53.333333333333336% {
    clip: rect(28px, 9999px, 88px, 0);
  }
  56.666666666666664% {
    clip: rect(35px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(146px, 9999px, 109px, 0);
  }
  63.33333333333333% {
    clip: rect(147px, 9999px, 27px, 0);
  }
  66.66666666666666% {
    clip: rect(58px, 9999px, 134px, 0);
  }
  70% {
    clip: rect(140px, 9999px, 30px, 0);
  }
  73.33333333333333% {
    clip: rect(73px, 9999px, 70px, 0);
  }
  76.66666666666667% {
    clip: rect(129px, 9999px, 143px, 0);
  }
  80% {
    clip: rect(73px, 9999px, 29px, 0);
  }
  83.33333333333334% {
    clip: rect(140px, 9999px, 116px, 0);
  }
  86.66666666666667% {
    clip: rect(54px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 5px, 0);
  }
  93.33333333333333% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  96.66666666666667% {
    clip: rect(140px, 9999px, 76px, 0);
  }
  100% {
    clip: rect(44px, 9999px, 148px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(118px, 9999px, 37px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 8px, 0);
  }
  13.333333333333334% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  16.666666666666664% {
    clip: rect(142px, 9999px, 74px, 0);
  }
  20% {
    clip: rect(12px, 9999px, 143px, 0);
  }
  23.333333333333332% {
    clip: rect(93px, 9999px, 8px, 0);
  }
  26.666666666666668% {
    clip: rect(22px, 9999px, 26px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 109px, 0);
  }
  33.33333333333333% {
    clip: rect(1px, 9999px, 87px, 0);
  }
  36.666666666666664% {
    clip: rect(27px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 147px, 0);
  }
  43.333333333333336% {
    clip: rect(107px, 9999px, 93px, 0);
  }
  46.666666666666664% {
    clip: rect(130px, 9999px, 123px, 0);
  }
  50% {
    clip: rect(108px, 9999px, 113px, 0);
  }
  53.333333333333336% {
    clip: rect(28px, 9999px, 88px, 0);
  }
  56.666666666666664% {
    clip: rect(35px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(146px, 9999px, 109px, 0);
  }
  63.33333333333333% {
    clip: rect(147px, 9999px, 27px, 0);
  }
  66.66666666666666% {
    clip: rect(58px, 9999px, 134px, 0);
  }
  70% {
    clip: rect(140px, 9999px, 30px, 0);
  }
  73.33333333333333% {
    clip: rect(73px, 9999px, 70px, 0);
  }
  76.66666666666667% {
    clip: rect(129px, 9999px, 143px, 0);
  }
  80% {
    clip: rect(73px, 9999px, 29px, 0);
  }
  83.33333333333334% {
    clip: rect(140px, 9999px, 116px, 0);
  }
  86.66666666666667% {
    clip: rect(54px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 5px, 0);
  }
  93.33333333333333% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  96.66666666666667% {
    clip: rect(140px, 9999px, 76px, 0);
  }
  100% {
    clip: rect(44px, 9999px, 148px, 0);
  }
}
